
body{
    background: linear-gradient(90deg, #313741 0%, #171D25 50%, #0E141B 100%); 
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 48px;
}

.main_container{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    font-size: 1em;
    font-weight: 800;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.8);
}

.subtitle{
    font-size: 0.725em;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.button{
    text-align: center;
    font-size: 0.4em;
    background: linear-gradient(90deg, #148CF0 0%, #1084F0 50%, #0F80ED 100%);
    border-radius: 5px;
    transition: all .2s ease-in-out;
    padding: 10px;
    
}

.button:hover{
    background: linear-gradient(90deg, #1074c5 0%, #0c67bd 50%, #095ead 100%);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    transform: scale(1.1);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.button:active{
    transform: scale(1);
}

