
body{
    background: linear-gradient(90deg, #313741 0%, #171D25 50%, #0E141B 100%); 
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.main_container{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.action{
    display: flex;
    font-size: 48px;
    justify-content: center;
    font-weight: 700;
    margin-bottom: 20px;
}

.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.form_group{
    transition: all 0.3s;
    position: relative;
}

.form_control,
.form_label{
    font-size: 26px;
}

.form_control{
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: none;
    border-radius: 0px;
    border-bottom: 1px solid #095ead;
    width: 100%;
    transition: all 0.5s;
}

.form_control::placeholder{
    color:transparent;
}

.form_control:focus{
    box-shadow: none;
    outline: none;
    border-color: #148CF0;
}

.form_control:focus + .form_label,
.form_control:not(:placeholder-shown) + .form_label{
    transform: translateY(-2.5em) scale(0.7);
}

.form_group:focus-within{
    transform: scale(1.05,1.05);
}

.form_label{
    position: absolute;
    color: grey;
    display: block;
    opacity: 1;
    transform: translateY(-1.5em);
    transform-origin: 0 0;
    transition: all 0.3s;
    font-weight: bold;
}

.bottom_group{
    display: flex;
    gap: 10px;
}

.button{
    text-align: center;
    font-size: 24px;
    background: linear-gradient(90deg, #148CF0 0%, #1084F0 50%, #0F80ED 100%);
    border-radius: 5px;
    transition: all .2s ease-in-out;
    padding: 2px 10px 2px 10px;
}

.button:hover{
    background: linear-gradient(90deg, #1074c5 0%, #0c67bd 50%, #095ead 100%);
    transform: scale(1.1);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.button:active{
    transform: scale(1);
}

.other_actions{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.register{
    font-size: 14px;
}



